<section class="experience show" id="gallery">
  <div class="container">
    <h2 class="experience-title">Coffee Moments</h2>
    <p class="experience-text">
      Experience the warmth and community of CoffeeJoy.
    </p>
    <ul class="experience-list">
      <li class="experience-item">
        <img
          class="experience-img"
          srcset="
            /img/experience/img_12.webp    1x,
            /img/experience/img_12@2x.webp 2x
          "
          src="/img/experience/img_12.webp"
          alt="cup-of-coffee"
        />
      </li>
      <li class="experience-item">
        <img
          class="experience-img"
          srcset="
            /img/experience/img_11.webp    1x,
            /img/experience/img_11@2x.webp 2x
          "
          src="/img/experience/img_11.webp"
          alt="coffee-and-croissant"
        />
      </li>
      <li class="experience-item">
        <img
          class="experience-img"
          srcset="
            /img/experience/img_10.webp    1x,
            /img/experience/img_10@2x.webp 2x
          "
          src="/img/experience/img_10.webp"
          alt="coffee-and-book"
        />
      </li>
      <li class="experience-item">
        <img
          class="experience-img"
          srcset="
            /img/experience/img_09.webp    1x,
            /img/experience/img_09@2x.webp 2x
          "
          src="/img/experience/img_09.webp"
          alt="barista-make-coffee"
        />
      </li>
      <li class="experience-item">
        <img
          class="experience-img"
          srcset="
            /img/experience/img_08.webp    1x,
            /img/experience/img_08@2x.webp 2x
          "
          src="/img/experience/img_08.webp"
          alt="cafe"
        />
      </li>
      <li class="experience-item">
        <img
          class="experience-img"
          srcset="
            /img/experience/img_07.webp    1x,
            /img/experience/img_07@2x.webp 2x
          "
          src="/img/experience/img_07.webp"
          alt="two-cups-of-coffee"
        />
      </li>
      <li class="experience-item">
        <img
          class="experience-img last-img"
          srcset="
            /img/experience/img_06.webp    1x,
            /img/experience/img_06@2x.webp 2x
          "
          src="/img/experience/img_06.webp"
          alt="coffee-to-go"
        />
      </li>
    </ul>
  </div>
</section>
