<header class="site-header">
  <div class="container">
    <nav class="menu-nav">
      <a class="logo" href="#">
        <svg class="icon-vector" width="84" height="36">
          <use href="icons.svg#icon-company-logo"></use>
        </svg>
      </a>
      <ul class="menu-list">
        <li><a class="menu-link" href="#">About us</a></li>
        <li><a class="menu-link" href="#">Benefits</a></li>
        <li><a class="menu-link" href="#">Gallery</a></li>
        <li><a class="menu-link" href="#">Testimonial</a></li>
        <li><a class="menu-link" href="#">Location</a></li>
      </ul>
    </nav>
    <div class="burger">
      <button class="burger-buttom" type="button">
        <svg class="icon-vector" width="24" height="24">
          <use href="icons.svg#icon-menu"></use>
        </svg>
      </button>
    </div>
  </div>
</header>
