<div class="container mobile-menu" data-menu>
  <div class="mobile-menu-logo-btn">
    <a class="logo" href="#">
      <svg class="icon-vector" width="84" height="36">
        <use href="icons.svg#icon-company-logo"></use>
      </svg>
    </a>
    <button class="mobile-menu-close" type="button" data-menu-close>
      <svg class="icon-vector-mobile-menu" width="24" height="24">
        <use href="icons.svg#icon-x"></use>
      </svg>
    </button>
  </div>
  <nav class="mobile-menu-nav">
    <ul class="mobile-menu-list">
      <li class="mobile-menu-nav-item">
        <a class="mobile-menu-link" href="#">About us</a>
      </li>
      <li class="mobile-menu-nav-item">
        <a class="mobile-menu-link" href="#">Benefits</a>
      </li>
      <li class="mobile-menu-nav-item">
        <a class="mobile-menu-link" href="#">Gallery</a>
      </li>
      <li class="mobile-menu-nav-item">
        <a class="mobile-menu-link" href="#">Testimonial</a>
      </li>
      <li class="mobile-menu-nav-item">
        <a class="mobile-menu-link" href="#">Location</a>
      </li>
    </ul>
  </nav>
</div>
