<section class="section-success-subscription">
  <div class="success-subscription">
    <div class="container">
      <div class="success-subscription-wrapper">
        <button class="subscription-close" type="button" data-menu-close>
          <svg class="icon-vector-mobile-menu" width="32" height="32">
            <use href="icons.svg#icon-x"></use>
          </svg>
        </button>
        <h2 class="title-success-subscription">
          Welcome to the world of CoffeeJoy!
        </h2>
        <p class="text-success-subscription">
          Fresh brews, special offers, and cozy updates are coming your way.
        </p>
      </div>
      <picture>
        <source
          media="(max-width: 767px)"
          srcset="
            /img/success_subscription/mob.jpg    1x,
            /img/success_subscription/mob@2x.jpg 2x
          "
        />
        <source
          media="(min-width: 768px)"
          srcset="
            /img/success_subscription/desk.jpg    1x,
            /img/success_subscription/desk@2x.jpg 2x
          "
        />
        <source
          media="(min-width: 1440px)"
          srcset="
            /img/success_subscription/desk.jpg    1x,
            /img/success_subscription/desk@2x.jpg 2x
          "
        />
        <img
          class="success-subscription-img"
          width="288"
          src="/img/success_subscription/mob.jpg "
          alt="CoffeeJoy"
        />
      </picture>
      <button class="btn-success-subscription" type="button">Close</button>
    </div>
  </div>
</section>
