<!--section Testimonials-->
<section id="testimonials" class="test_container">
  <div class="container">
    <h2 class="test_title">What our visitors say</h2>
    <ul class="testimon_wrapper">
      <li class="observation">
        <ul class="star-wrapper">
          <li>
            <svg class="filled_star_icon" width="19" height="20">
              <use href="/public/icons.svg#icon-star-filled"></use>
            </svg>
          </li>
          <li>
            <svg class="filled_star_icon" width="19" height="20">
              <use href="/public/icons.svg#icon-star-filled"></use>
            </svg>
          </li>
          <li>
            <svg class="filled_star_icon" width="19" height="20">
              <use href="/public/icons.svg#icon-star-filled"></use>
            </svg>
          </li>
          <li>
            <svg class="filled_star_icon" width="19" height="20">
              <use href="/public/icons.svg#icon-star-filled"></use>
            </svg>
          </li>
          <li>
            <svg class="outline_star_icon" width="19" height="20">
              <use href="/public/icons.svg#icon-star-outline"></use>
            </svg>
          </li>
        </ul>
        <p class="test_text">
          "Every cup feels like a warm hug! I’m addicted to their seasonal
          flavors!"
        </p>
        <cite class="sign_text">Name Surname</cite>
      </li>
      <li class="observation">
        <ul class="star-wrapper">
          <li>
            <svg class="filled_star_icon" width="19" height="20">
              <use href="/public/icons.svg#icon-star-filled"></use>
            </svg>
          </li>
          <li>
            <svg class="filled_star_icon" width="19" height="20">
              <use href="/public/icons.svg#icon-star-filled"></use>
            </svg>
          </li>
          <li>
            <svg class="filled_star_icon" width="19" height="20">
              <use href="/public/icons.svg#icon-star-filled"></use>
            </svg>
          </li>
          <li>
            <svg class="filled_star_icon" width="19" height="20">
              <use href="/public/icons.svg#icon-star-filled"></use>
            </svg>
          </li>
          <li>
            <svg class="outline_star_icon" width="19" height="20">
              <use href="/public/icons.svg#icon-star-outline"></use>
            </svg>
          </li>
        </ul>
        <p class="test_text">
          "CoffeeJoy is my go-to place for a perfect cup of coffee! The ambiance
          is so inviting, and the baristas are always friendly."
        </p>
        <cite class="sign_text">Alice Johnson</cite>
      </li>
      <li class="observation">
        <ul class="star-wrapper">
          <li>
            <svg class="filled_star_icon" width="19" height="20">
              <use href="/public/icons.svg#icon-star-filled"></use>
            </svg>
          </li>
          <li>
            <svg class="filled_star_icon" width="19" height="20">
              <use href="/public/icons.svg#icon-star-filled"></use>
            </svg>
          </li>
          <li>
            <svg class="filled_star_icon" width="19" height="20">
              <use href="/public/icons.svg#icon-star-filled"></use>
            </svg>
          </li>
          <li>
            <svg class="filled_star_icon" width="19" height="20">
              <use href="/public/icons.svg#icon-star-filled"></use>
            </svg>
          </li>
          <li>
            <svg class="filled_star_icon" width="19" height="20">
              <use href="/public/icons.svg#icon-star-filled"></use>
            </svg>
          </li>
        </ul>
        <p class="test_text">
          "I love the variety of blends offered at CoffeeJoy. Every visit feels
          like a new experience!"
        </p>
        <cite class="sign_text">Michael Smith</cite>
      </li>
      <li class="observation">
        <ul class="star-wrapper">
          <li>
            <svg class="filled_star_icon" width="19" height="20">
              <use href="/public/icons.svg#icon-star-filled"></use>
            </svg>
          </li>
          <li>
            <svg class="filled_star_icon" width="19" height="20">
              <use href="/public/icons.svg#icon-star-filled"></use>
            </svg>
          </li>
          <li>
            <svg class="filled_star_icon" width="19" height="20">
              <use href="/public/icons.svg#icon-star-filled"></use>
            </svg>
          </li>
          <li>
            <svg class="outline_star_icon" width="19" height="20">
              <use href="/public/icons.svg#icon-star-outline"></use>
            </svg>
          </li>
          <li>
            <svg class="outline_star_icon" width="19" height="20">
              <use href="/public/icons.svg#icon-star-outline"></use>
            </svg>
          </li>
        </ul>
        <p class="test_text">
          "The pastries are to die for! I can’t resist pairing them with my
          favorite latte. Highly recommend this spot!"
        </p>
        <cite class="sign_text">Emily Davis</cite>
      </li>
      <li class="observation">
        <ul class="star-wrapper">
          <li>
            <svg class="filled_star_icon" width="19" height="20">
              <use href="/public/icons.svg#icon-star-filled"></use>
            </svg>
          </li>
          <li>
            <svg class="filled_star_icon" width="19" height="20">
              <use href="/public/icons.svg#icon-star-filled"></use>
            </svg>
          </li>
          <li>
            <svg class="filled_star_icon" width="19" height="20">
              <use href="/public/icons.svg#icon-star-filled"></use>
            </svg>
          </li>
          <li>
            <svg class="filled_star_icon" width="19" height="20">
              <use href="/public/icons.svg#icon-star-filled"></use>
            </svg>
          </li>
          <li>
            <svg class="filled_star_icon" width="19" height="20">
              <use href="/public/icons.svg#icon-star-filled"></use>
            </svg>
          </li>
        </ul>
        <p class="test_text">
          "A cozy little gem! CoffeeJoy has the best cold brew in town. I come
          here every weekend!"
        </p>
        <cite class="sign_text">James Brown</cite>
      </li>
      <li class="observation">
        <ul class="star-wrapper">
          <li>
            <svg class="filled_star_icon" width="19" height="20">
              <use href="/public/icons.svg#icon-star-filled"></use>
            </svg>
          </li>
          <li>
            <svg class="filled_star_icon" width="19" height="20">
              <use href="/public/icons.svg#icon-star-filled"></use>
            </svg>
          </li>
          <li>
            <svg class="filled_star_icon" width="19" height="20">
              <use href="/public/icons.svg#icon-star-filled"></use>
            </svg>
          </li>
          <li>
            <svg class="outline_star_icon" width="19" height="20">
              <use href="/public/icons.svg#icon-star-outline"></use>
            </svg>
          </li>
          <li>
            <svg class="outline_star_icon" width="19" height="20">
              <use href="/public/icons.svg#icon-star-outline"></use>
            </svg>
          </li>
        </ul>
        <p class="test_text">
          "The atmosphere is perfect for working or relaxing with friends. Their
          Wi-Fi is fast too!"
        </p>
        <cite class="sign_text">Sarah Wilson</cite>
      </li>
      <li class="observation">
        <ul class="star-wrapper">
          <li>
            <svg class="filled_star_icon" width="19" height="20">
              <use href="/public/icons.svg#icon-star-filled"></use>
            </svg>
          </li>
          <li>
            <svg class="filled_star_icon" width="19" height="20">
              <use href="/public/icons.svg#icon-star-filled"></use>
            </svg>
          </li>
          <li>
            <svg class="filled_star_icon" width="19" height="20">
              <use href="/public/icons.svg#icon-star-filled"></use>
            </svg>
          </li>
          <li>
            <svg class="filled_star_icon" width="19" height="20">
              <use href="/public/icons.svg#icon-star-filled"></use>
            </svg>
          </li>
          <li>
            <svg class="outline_star_icon" width="19" height="20">
              <use href="/public/icons.svg#icon-star-outline"></use>
            </svg>
          </li>
        </ul>
        <p class="test_text">
          "I’m addicted to their seasonal flavors! Each one is crafted with such
          care and creativity."
        </p>
        <cite class="sign_text">Chris Lee</cite>
      </li>
      <li class="observation">
        <ul class="star-wrapper">
          <li>
            <svg class="filled_star_icon" width="19" height="20">
              <use href="/public/icons.svg#icon-star-filled"></use>
            </svg>
          </li>
          <li>
            <svg class="filled_star_icon" width="19" height="20">
              <use href="/public/icons.svg#icon-star-filled"></use>
            </svg>
          </li>
          <li>
            <svg class="filled_star_icon" width="19" height="20">
              <use href="/public/icons.svg#icon-star-filled"></use>
            </svg>
          </li>
          <li>
            <svg class="filled_star_icon" width="19" height="20">
              <use href="/public/icons.svg#icon-star-filled"></use>
            </svg>
          </li>
          <li>
            <svg class="outline_star_icon" width="19" height="20">
              <use href="/public/icons.svg#icon-star-outline"></use>
            </svg>
          </li>
        </ul>
        <p class="test_text">
          "I appreciate how they source their coffee beans sustainably. It's
          great to support such an ethical business!"
        </p>
        <cite class="sign_text">Patricia Taylor</cite>
      </li>
    </ul>
  </div>
</section>
<!--end section Testimonials-->
