.hero {
  min-width: 320px;
  height: 100%;
  background-image: url('../img/hero/img_01.jpg');
  background-size: cover;
  background-position: center;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.hero::before {
  content: '';
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.hero > * {
  position: relative;
  z-index: 2;
}

.container {
}
.hero-block {
  width: 256px;
  padding: 108px 0px;
}
.hero_text_main {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 40px;
  line-height: 1.2;
  letter-spacing: -0.01em;
  color: var(--color-white);
  margin-bottom: 24px;
}
.text-hero {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
  color: var(--color-white);
  margin-bottom: 32px;
}
.hero_button {
}
.hero_button_click {
  border-radius: 100px;
  padding: 10px 24px;
  box-shadow: 0 1px 2px 0 var(--opacity-neutral-darkest-5),
    inset 0 -2px 1px 0 rgba(0, 0, 0, 0.2),
    inset 0 0 0 1px var(--opacity-neutral-darkest-15),
    inset 0 2px 1px 0 rgba(255, 255, 255, 0.25),
    inset 0 32px 24px 0 var(--opacity-white-5);
  background: var(--color-coffee-dark);

  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: var(--color-white);
}

@media only screen and (max-width: 768px) {
  .container {
    padding: 0px 32px;
  }
}

@media only screen and (min-width: 768px) {
  .hero {
    min-width: 768px;
    min-height: 900px;
  }

  .hero-block {
    width: 560px;
    height: 277px;
    padding: 0px;
  }
}

@media only screen and (min-width: 1440px) {
  .hero {
    min-width: 1440px;
    min-height: 900px;
  }
  .hero-block {
    width: 560px;
    height: 382px;
  }
  .hero_text_main {
    font-size: 56px;
  }
}
