
.location {
    max-width: 375px;
    margin: 0 auto;
    padding: 64px 0px;
}

@media only screen and (min-width: 768px) {
    .location {
        max-width: 768px;
    }
}

@media only screen and (min-width: 1440px) {
    .location {
        max-width: 1440px;
    }
}


.location-dir {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 16px;
    line-height: 1.5;
    color: var(--color-neutral-darkest);
    margin-bottom: 16px;
}

.location-header {
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 36px;
    line-height: 1.2;
    letter-spacing: -0.01em;
    color: var(--color-neutral-darkest);
    margin-bottom: 24px;
}

@media only screen and (min-width: 1440px) {
    .location-header {
    font-size: 48px;
    }
}

.location-text {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 18px;
    line-height: 1.5;
    color: var(--color-neutral-darkest);
    margin-bottom: 40px;
}

.location-contacts {
    display: flex;
    flex-direction: column;
    row-gap: 40px;
    margin-bottom: 32px;
}

@media only screen and (min-width: 768px) {
    .location-contacts {
    flex-direction: row;
    justify-content: space-between;
    gap: 40px;
    }

        .location-contacts-item {
            width: 208px;
        }
}

@media only screen and (min-width: 1440px) {
    .location-contacts {
        flex-direction: column;
    }

         .location-contacts-item {
             width: 419px;
         }
}

.location-item-icon {
    margin-bottom: 16px;
}

.location-contacts-header {
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 20px;
    line-height: 1.4;
    letter-spacing: -0.01em;
    color: var(--color-neutral-darkest);
    margin-bottom: 8px;
}

.location-contacts-link {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: var(--color-neutral-darkest);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.location-contacts-link:hover,
.location-contacts-link:focus {
    color: var(--opacity-neutral-darkest-15);
    fill: var(--opacity-neutral-darkest-15);
}

.location-address {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: var(--color-neutral-darkest);
    margin-bottom: 16px;
}

.location-get-directions-link {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
    color: var(--color-neutral-darkest);
    fill: var(--color-neutral-darkest);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.location-get-directions-link:hover,
.location-get-directions-link:focus {
    color: var(--opacity-neutral-darkest-15);
    fill: var(--opacity-neutral-darkest-15);
}

.location-get-directions-text {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
}

.map-container {
    position: relative;
    width: 288px;
    height: 307px;
    overflow: hidden;
    border-radius: 40px;
    display: flex;
    justify-self: center;
}

.map-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

@media only screen and (min-width: 768px) {
    .map-container {
        width: 704px;
        height: 377px;
    }
}

@media only screen and (min-width: 1440px) {
    .map-container {
            width: 869px;
            height: 697px;
        }
}

@media only screen and (min-width: 1440px) {
    .location-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
}
