.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--color-coffee-lighter);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transform: translateX(100%);
  z-index: 1000; /* Добавил для надёжности поверх всего */
}

.mobile-menu-logo-btn {
  padding: 18px 0;
}

.mobile-menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
  transform: translateX(0);
}

@media screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
}

.mobile-menu-close {
  position: absolute;
  top: 24px;
  right: 28px;
  width: 24px;
  height: 24px;
  padding: 0;
  cursor: pointer;
  background-color: transparent;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity 300ms ease-in-out;
}

.mobile-menu-close:hover,
.mobile-menu-close:focus {
  opacity: 0.5;
}

.icon-vector-mobile-menu {
  fill: currentColor;
}

.mobile-menu-link {
  display: block;
  text-align: center;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  font-family: var(--font-family);
  color: var(--color-scheme-1-text);
  transition: opacity 300ms ease-in-out;
}

.mobile-menu-link:hover,
.mobile-menu-link:focus {
  opacity: 0.5;
}

.mobile-menu-list .mobile-menu-nav-item:not(:last-child) {
  margin-bottom: 32px;
}

.mobile-menu-wrap {
  padding: 18px 0;
}
