.test_container {
  max-width: 375px;
  margin: 0 auto;
  padding: 64px 0px;
}
@media only screen and (min-width: 768px) {
  .test_container {
    max-width: 768px;
  }
}
@media only screen and (min-width: 1440px) {
  .test_container {
    max-width: 1440px;
  }
}
.test_title {
  font-family: Aboreto;
  font-weight: 400;
  font-size: 36px;
  line-height: 1.2;
  letter-spacing: -0.015em;
  color: #0b0803;
  margin-bottom: 24px;
  text-align: left;
}
@media only screen and (min-width: 1440px) {
  .test_title {
    font-size: 48px;
    width: 416px;
  }
}
.testimon_wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 24px;
  margin-bottom: 64px;
}
@media only screen and (min-width: 768px) {
  .testimon_wrapper {
    flex-direction: row;
    flex-wrap: wrap;
  }
}
.observation {
  background: var(--color-scheme-1-foreground);
  padding: 0;
  border-radius: 32px;
  border: 1px solid var(--color-scheme-1-border);
  text-align: left;
  padding: 32px 32px;

  display: flex;
  flex-direction: column;
}
@media only screen and (min-width: 768px) {
  .observation {
    width: calc((100% - 28px) / 2);
  }
}
@media only screen and (min-width: 1440px) {
  .observation {
    width: calc((100% - 80px) / 4);
    height: 303px;
  }
}
.test_text {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
  color: var(--color-scheme-1-text);
  margin-bottom: 37px;
}
.sign_text {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  color: var(--color-scheme-1-text);
  margin-top: auto;
  font-style: normal;
}
.star-wrapper {
  display: flex;
  gap: 4px;
  margin-bottom: 24px;
}
.filled_star_icon {
  fill: #0b0803;
}
.outline_star_icon {
  fill: none;
  stroke: #0b0803;
  stroke-width: 1.5;
}
